Heart Disease Prediction Problem Statement Heart disease is easier to treat when it is detected in the early stages. Machine learning techniques may aid a more efficient analysis in the prediction of the disease. Moreover, this prediction is one of the most central problems in medical, as it is one of the leading disease related to unhealthy lifestyle. So, an early prediction of this disease will be useful for a cure or averion. In this study, we experiment with the heart disease dataset to explore the machine learning algorithms and build an optimum model to predict the disease.

Data Definition Each attribute is a medical risk factor.

age: Age of the patient - (Numerical)

gender: Gender of the patient - (0,1) - (Male, Female) - (Categorical)

chest_pain: It refers to the chest pain experienced by the patient -(0,1,2,3) - (Categorical)

rest_bps: Blood pressure of the patient while resting(in mm/Hg) - (Numerical)

cholestrol: Patient's cholestrol level (in mg/dl) - (Numerical)

fasting_blood_sugar: Blood sugar of the patient while fasting - (>120mg/: = 1, otherwise = 0) - (Categorical)

rest_ecg: Potassium level (0,1,2) - (Categorical)

thalach: The patients maximum heart rate - (Numerical)

exer_angina: It refers to the exercise induced angina - (1=Yes, 0=No) - (Categorical)

old_peak: It is the ST depression induced by exercise relative to rest(ST relates to the position on ECG plots) (Numerical)

slope: It refers to the slope of the peak of the exercise ST Segment- (0,1,2) - (Categorical)

ca: Number of major vessels - (0,1,2,3,4) - (Categorical)

thalassemia: It refers to thalassemia which is a blood disorder - (0,1,2,3) - (Categorical)

target: Patient has heart disease or not - (1=Yes, 0=No) - (Target variable)

Table of Content
Import Libraries
Set Options
Read Data
Data Analysis and Preparation
4.1 - Understand the Dataset
4.1.1 - Data Type
4.1.2 - Summary Statistics
4.1.3 - Distribution of Variables
4.1.4 - Correlation
4.1.5 - Discover Outliers
4.1.6 - Missing Values
4.2 - Prepare the Data
Decision Tree
5.1 - Decision Tree
5.2 - Prune a Decision Tree
5.3 - Decision Tree (using GridSearchCV)Â¶

## Random Forest Model Demo with Heart.CSV file

In [2]:
import warnings
warnings.filterwarnings("ignore")

import os

# 'Pandas' is used for data manipulation and analysis
import pandas as pd 

# 'Numpy' is used for mathematical operations on large, multi-dimensional arrays and matrices
import numpy as np

# 'Matplotlib' is a data visualization library for 2D and 3D plots, built on numpy
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

# 'Seaborn' is based on matplotlib; used for plotting statistical graphics
import seaborn as sns

# import 'is_string_dtype' to check if the type of input is string  
from pandas.api.types import is_string_dtype

# import various functions to perform classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

# import functions to perform logistic regression
import statsmodels

In [3]:
df=pd.read_csv('D:/Python & ML DL/Heart.csv')

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        303 non-null    int64
 1   Sex        303 non-null    int64
 2   ChestPain  303 non-null    object
 3   RestBP     303 non-null    int64
 4   Chol       303 non-null    int64
 5   Fbs        303 non-null    int64
 6   RestECG    303 non-null    int64
 7   MaxHR      303 non-null    int64
 8   ExAng      303 non-null    int64
 9   Oldpeak    303 non-null    float64
 10  Slope      303 non-null    int64
 11  Ca         299 non-null    float64
 12  Thal       301 non-null    object
 13  AHD        303 non-null    object
dtypes: float64(2), int64(9), object(3)
memory usage: 33.3+ KB

In [10]:
df.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [11]:
missvalues = df.isnull().sum()
missvalues[missvalues > 0]

Ca      4
Thal    2
dtype: int64

In [12]:
df[df.Ca.isnull()]

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
166,52,1,nonanginal,138,223,0,0,169,0,0.0,1,NaN,normal,No
192,43,1,asymptomatic,132,247,1,2,143,1,0.1,2,NaN,reversable,Yes
287,58,1,nontypical,125,220,0,0,144,0,0.4,2,NaN,reversable,No
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [13]:
df[df.Thal.isnull()]

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
87,53,0,nonanginal,128,216,0,2,115,0,0.0,1,0.0,NaN,No
266,52,1,asymptomatic,128,204,1,0,156,1,1.0,2,0.0,NaN,Yes

In [14]:
df.Ca.value_counts()

0.0    176
1.0     65
2.0     38
3.0     20
Name: Ca, dtype: int64

In [15]:
df.groupby(['ChestPain','Sex','Ca'])['Ca'].size()

ChestPain     Sex  Ca
asymptomatic  0    0.0    25
                   1.0     2
                   2.0     9
                   3.0     4
              1    0.0    41
                   1.0    32
                   2.0    20
                   3.0    10
nonanginal    0    0.0    26
                   1.0     9
              1    0.0    31
                   1.0    11
                   2.0     2
                   3.0     5
nontypical    0    0.0    11
                   1.0     4
                   2.0     3
              1    0.0    26
                   1.0     4
                   3.0     1
typical       0    0.0     3
                   2.0     1
              1    0.0    13
                   1.0     3
                   2.0     3
Name: Ca, dtype: int64

In [16]:
df.Ca.fillna(0.0, inplace=True)

In [17]:
df.groupby(['ChestPain','Sex','Thal'])['Thal'].size()

ChestPain     Sex  Thal
asymptomatic  0    fixed          1
                   normal        27
                   reversable    12
              1    fixed         11
                   normal        26
                   reversable    66
nonanginal    0    normal        31
                   reversable     3
              1    fixed          2
                   normal        30
                   reversable    19
nontypical    0    normal        18
              1    fixed          2
                   normal        21
                   reversable     9
typical       0    normal         4
              1    fixed          2
                   normal         9
                   reversable     8
Name: Thal, dtype: int64

In [18]:
df.loc[87,'Thal'] = 'Normal'
df.loc[266,'Thal'] = 'reversable'

In [19]:
## Checking the missing values after updating the missing values
missvalues = df.isnull().sum()
missvalues[missvalues > 0]

Series([], dtype: int64)

In [20]:
## Checking the target variable 
df.AHD.value_counts()

No     164
Yes    139
Name: AHD, dtype: int64

In [21]:
for col in df.select_dtypes(include='object').columns:
    print(col)
    print()
    print(df[col].value_counts())
    print()

ChestPain

asymptomatic    144
nonanginal       86
nontypical       50
typical          23
Name: ChestPain, dtype: int64

Thal

normal        166
reversable    118
fixed          18
Normal          1
Name: Thal, dtype: int64

AHD

No     164
Yes    139
Name: AHD, dtype: int64

In [22]:
df.target = pd.get_dummies(df.AHD, drop_first = True, columns='Target')

In [24]:
df.target.value_counts()

Yes
0      164
1      139
dtype: int64

In [25]:
df.Thal.replace('Normal','normal', inplace=True)

In [26]:
df.Thal.replace({'normal':0, 'reversable':1,'fixed':2}, inplace=True)

In [27]:
df.ChestPain.replace({'asymptomatic':0, 'nonanginal':1,'nontypical':2,'typical':3}, inplace=True)

In [28]:
## We created a target variable.  So let us drop 'AHD' variable
df.drop('AHD', axis=1, inplace= True)

In [29]:
## Concating both independent and target variables
df = pd.concat([df, df.target], axis=1)

In [30]:
df.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'Yes'],
      dtype='object')

In [31]:
df.rename(columns = {'Yes':'Target'},inplace=True)

In [41]:
y = df.iloc[:,-1]
x = df.iloc[:, 0:-1]

In [42]:
x.shape, y.shape

((303, 13), (303,))

In [43]:
df.shape

(303, 14)

In [44]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn import svm, tree,  neighbors, naive_bayes, ensemble
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score

In [90]:
## loading model libraries
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [45]:
## Splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 100)

### Using Logistic Regression

In [52]:
logreg=LogisticRegression()

In [53]:
logreg.fit(x_train,y_train)

LogisticRegression()

In [57]:
y_pred=logreg.predict(x_test)
tr_pred=logreg.predict(x_train)

In [59]:
confusion_matrix(y_test, y_pred)

array([[37,  2],
       [ 6, 31]], dtype=int64)

In [60]:
print(classification_report(y_train, tr_pred))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86       125
           1       0.85      0.78      0.82       102

    accuracy                           0.84       227
   macro avg       0.84      0.84      0.84       227
weighted avg       0.84      0.84      0.84       227

### Random Forest

In [73]:
## Initialize the classifier
rf = RandomForestClassifier(n_jobs=-1)

In [74]:
## Fitting the model
rf.fit(x_train, y_train)

RandomForestClassifier(n_jobs=-1)

In [75]:
tr_pred = rf.predict(x_train)
test_pred = rf.predict(x_test)

In [76]:
confusion_matrix(y_test, test_pred)

array([[37,  2],
       [ 7, 30]], dtype=int64)

In [77]:
print(classification_report(y_test, test_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89        39
           1       0.94      0.81      0.87        37

    accuracy                           0.88        76
   macro avg       0.89      0.88      0.88        76
weighted avg       0.89      0.88      0.88        76

In [110]:
y_test.value_counts()

0    39
1    37
Name: Target, dtype: int64

In [100]:
df.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,Target
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,2,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,0,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,1,1
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,0,0

In [101]:
df.ChestPain.describe()

count    303.000000
mean       0.841584
std        0.960126
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        3.000000
Name: ChestPain, dtype: float64

In [102]:
df.ChestPain.dtype

dtype('int64')

In [115]:
df_feature_imp = pd.DataFrame(zip(X.columns, rf.feature_importances_), columns = ['colname','Imp'])

In [118]:
df_feature_imp.sort_values(by='Imp', ascending=False)

      colname       Imp
2   ChestPain  0.130999
7       MaxHR  0.124730
12       Thal  0.124103
11         Ca  0.113888
9     Oldpeak  0.095289
4        Chol  0.083074
0         Age  0.081217
3      RestBP  0.079014
8       ExAng  0.067303
10      Slope  0.040648
1         Sex  0.031568
6     RestECG  0.017406
5         Fbs  0.010760

In [151]:
impcols = df.columns[df_feature_imp[df_feature_imp.Imp >= 0.05].index]
impcols

Index(['Age', 'ChestPain', 'RestBP', 'Chol', 'MaxHR', 'ExAng', 'Oldpeak', 'Ca',
       'Thal'],
      dtype='object')

In [119]:
params = {
    'max_depth': [2,3,5,10,20],
    'min_samples_leaf': [5,10,20,50,100,200],
    'n_estimators': [10,25,30,50,100,200]
}

In [120]:
# Instantiate the grid search model
grid_search = GridSearchCV(estimator=rf,
                           param_grid=params,
                           cv = 4,
                           n_jobs=-1, verbose=1, scoring="accuracy")

In [152]:
grid_search.fit(X_train[impcols], y_train)

Fitting 4 folds for each of 180 candidates, totalling 720 fits

GridSearchCV(cv=4, estimator=RandomForestClassifier(n_jobs=-1), n_jobs=-1,
             param_grid={'max_depth': [2, 3, 5, 10, 20],
                         'min_samples_leaf': [5, 10, 20, 50, 100, 200],
                         'n_estimators': [10, 25, 30, 50, 100, 200]},
             scoring='accuracy', verbose=1)

In [153]:
grid_search.best_score_

0.8327067669172933

In [154]:
grid_search.best_params_

{'max_depth': 5, 'min_samples_leaf': 20, 'n_estimators': 100}

In [159]:
rf1 = RandomForestClassifier(max_depth= 5, min_samples_leaf= 20, n_estimators= 100, n_jobs=-1, random_state = 100)

In [160]:
rf1.fit(X_train[impcols], y_train)

RandomForestClassifier(max_depth=5, min_samples_leaf=20, n_jobs=-1,
                       random_state=100)

In [161]:
r_pred = rf1.predict(X_train[impcols])
t_pred = rf1.predict(X_test[impcols])

In [162]:
print(classification_report(y_train, r_pred))

              precision    recall  f1-score   support

           0       0.82      0.92      0.87       125
           1       0.89      0.75      0.81       102

    accuracy                           0.85       227
   macro avg       0.85      0.84      0.84       227
weighted avg       0.85      0.85      0.84       227

In [163]:
print(classification_report(y_test, t_pred))

              precision    recall  f1-score   support

           0       0.84      0.92      0.88        39
           1       0.91      0.81      0.86        37

    accuracy                           0.87        76
   macro avg       0.87      0.87      0.87        76
weighted avg       0.87      0.87      0.87        76

In [164]:
confusion_matrix(y_test, t_pred)

array([[36,  3],
       [ 7, 30]], dtype=int64)